django

dj-database-url
{% if cookiecutter.use_compressor == 'y' %}django-compressor{% endif %}
django-crispy-forms
django-debug-toolbar
django-extensions
django-flat-theme
django-floppyforms
{% if cookiecutter.use_elasticsearch == 'y' %}django-haystack{% endif %}
django-imagekit
django-nose
djangorestframework
python-decouple

{% if cookiecutter.use_bcrypt == 'y' %}bcrypt{% endif %}
{% if cookiecutter.use_celery == 'y' %}celery{% endif %}
{% if cookiecutter.use_elasticsearch == 'y' %}elasticsearch{% endif %}
{% if cookiecutter.use_mysql == 'y' %}mysql-python{% endif %}
pilkit
pillow
{% if cookiecutter.use_postgres == 'y' %}psycopg2{% endif %}
{% if cookiecutter.use_memcached == 'y' %}python-memcached{% endif %}

{% if cookiecutter.use_newrelic == 'y' %}newrelic{% endif %}
{% if cookiecutter.use_heroku == 'y' %}waitress{% endif %}
{% if cookiecutter.use_heroku != 'y' %}uwsgi{% endif %}
{% if cookiecutter.use_whitenoise == 'y' or cookiecutter.use_heroku == 'y' %}whitenoise{% endif %}

coverage
mock
model-mommy
nose

sphinx
